<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yibao.dao.mapper.business.HospitalMapper">

    <select id="getHospitalDepartment" resultType="java.util.Map">
        SELECT
            CASE WHEN a.hospital_name = ''
                THEN 'null'
            ELSE a.hospital_name END   AS `name`,
            CASE WHEN b.department_name = ''
                THEN 'null'
            ELSE b.department_name END AS `dname`
        FROM `yb_hospital` a
            LEFT JOIN `yb_hospital_department` b
                ON a.`id` = b.`hospital_id`
        WHERE a.hospital_name NOT LIKE '%测试%'
              AND a.is_deleted = 0
    </select>
</mapper>