<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yibao.dao.mapper.base.HospitalBaseMapper">

    <!--实体映射-->
    <resultMap id="BaseResultMap" type="com.yibao.dao.entity.HospitalDO">
        <!--自增ID-->
        <result column="id" property="id"/>
        <!--是否删除（0:未删除 1:已删除）-->
        <result column="is_deleted" property="isDeleted"/>
        <!--记录创建时间-->
        <result column="create_time" property="createTime"/>
        <!--记录修改时间-->
        <result column="modify_time" property="modifyTime"/>
        <!--创建人,0表示无创建人值-->
        <result column="creator" property="creator"/>
        <!--修改人,如果为0则表示纪录未修改-->
        <result column="modifier" property="modifier"/>
        <!--医院全称-->
        <result column="hospital_name" property="hospitalName"/>
        <!--医院简称-->
        <result column="hospital_alias" property="hospitalAlias"/>
        <!--医院级别（1:三级甲等 2:三级合格 3:二级甲等 4:二级合格 5:一级 6:社区卫生服务站 7:诊所 8:其他 9:民营）-->
        <result column="hospital_level" property="hospitalLevel"/>
        <!--医院类别（1:综合 2:专科）-->
        <result column="hospital_type" property="hospitalType"/>
        <!--医院介绍-->
        <result column="hospital_description" property="hospitalDescription"/>
    </resultMap>

    <!-- 通用查询结果列-->
    <sql id="BaseColumn">
        <trim suffixOverrides=",">
            `id`,
            `is_deleted`,
            `create_time`,
            `modify_time`,
            `creator`,
            `modifier`,
            `hospital_name`,
            `hospital_alias`,
            `hospital_level`,
            `hospital_type`,
            `hospital_description`,
        </trim>
    </sql>

    <!-- 动态条件 -->
    <sql id="QueryCondition">
        <where>
            <if test="id != null">
                AND `id` = #{id}
            </if>
            <if test="idList != null">
                AND `id` IN
                <foreach collection="idList" close=")" open="(" separator="," item="item">
                    #{item}
                </foreach>
            </if>
            <if test="isDeleted != null">
                AND `is_deleted` = #{isDeleted}
            </if>
            <if test="createTime != null">
                AND `create_time` = #{createTime}
            </if>
            <if test="modifyTime != null">
                AND `modify_time` = #{modifyTime}
            </if>
            <if test="hospitalName != null">
                AND `hospital_name` = #{hospitalName}
            </if>
            <if test="hospitalAlias != null">
                AND `hospital_alias` = #{hospitalAlias}
            </if>
            <if test="hospitalLevel != null">
                AND `hospital_level` = #{hospitalLevel}
            </if>
            <if test="hospitalLevelList != null">
                AND `hospital_level` IN
                <foreach collection="hospitalLevelList" close=")" open="(" separator="," item="item">
                    #{item}
                </foreach>
            </if>
            <if test="hospitalType != null">
                AND `hospital_type` = #{hospitalType}
            </if>
            <if test="hospitalTypeList != null">
                AND `hospital_type` IN
                <foreach collection="hospitalTypeList" close=")" open="(" separator="," item="item">
                    #{item}
                </foreach>
            </if>
            <if test="hospitalDescription != null">
                AND `hospital_description` = #{hospitalDescription}
            </if>
        </where>
    </sql>

    <insert id="insertSelective" parameterType="com.yibao.dao.entity.HospitalDO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `yb_hospital`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                `id`,
            </if>
            <if test="isDeleted != null">
                `is_deleted`,
            </if>
            <if test="createTime != null">
                `create_time`,
            </if>
            <if test="modifyTime != null">
                `modify_time`,
            </if>
            <if test="creator != null">
                `creator`,
            </if>
            <if test="modifier != null">
                `modifier`,
            </if>
            <if test="hospitalName != null">
                `hospital_name`,
            </if>
            <if test="hospitalAlias != null">
                `hospital_alias`,
            </if>
            <if test="hospitalLevel != null">
                `hospital_level`,
            </if>
            <if test="hospitalType != null">
                `hospital_type`,
            </if>
            <if test="hospitalDescription != null">
                `hospital_description`,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="isDeleted != null">
                #{isDeleted},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="modifyTime != null">
                #{modifyTime},
            </if>
            <if test="creator != null">
                #{creator},
            </if>
            <if test="modifier != null">
                #{modifier},
            </if>
            <if test="hospitalName != null">
                #{hospitalName},
            </if>
            <if test="hospitalAlias != null">
                #{hospitalAlias},
            </if>
            <if test="hospitalLevel != null">
                #{hospitalLevel},
            </if>
            <if test="hospitalType != null">
                #{hospitalType},
            </if>
            <if test="hospitalDescription != null">
                #{hospitalDescription},
            </if>
        </trim>
    </insert>

    <insert id="batchInsert" parameterType="com.yibao.dao.entity.HospitalDO">
        INSERT INTO `yb_hospital`
        (<include refid="BaseColumn"/>)
        VALUES
        <foreach collection="recordList" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.id},
                #{item.isDeleted},
                #{item.createTime},
                #{item.modifyTime},
                #{item.creator},
                #{item.modifier},
                #{item.hospitalName},
                #{item.hospitalAlias},
                #{item.hospitalLevel},
                #{item.hospitalType},
                #{item.hospitalDescription},
            </trim>
        </foreach>
    </insert>

    <update id="updateById" parameterType="com.yibao.dao.entity.HospitalDO">
        UPDATE `yb_hospital`
        <set>
            <if test="isDeleted != null">
                `is_deleted` = #{isDeleted},
            </if>
            <if test="createTime != null">
                `create_time` = #{createTime},
            </if>
            <if test="modifyTime != null">
                `modify_time` = #{modifyTime},
            </if>
            <if test="creator != null">
                `creator` = #{creator},
            </if>
            <if test="modifier != null">
                `modifier` = #{modifier},
            </if>
            <if test="hospitalName != null">
                `hospital_name` = #{hospitalName},
            </if>
            <if test="hospitalAlias != null">
                `hospital_alias` = #{hospitalAlias},
            </if>
            <if test="hospitalLevel != null">
                `hospital_level` = #{hospitalLevel},
            </if>
            <if test="hospitalType != null">
                `hospital_type` = #{hospitalType},
            </if>
            <if test="hospitalDescription != null">
                `hospital_description` = #{hospitalDescription},
            </if>
        </set>
        WHERE `id` = #{id}
    </update>

    <update id="batchUpdateById" parameterType="com.yibao.dao.entity.HospitalDO">
        UPDATE `yb_hospital`
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="is_deleted = case id" suffix="end,">
                <foreach collection="recordList" item="item" index="index">
                    <if test="item.isDeleted != null">
                        WHEN #{item.id} THEN #{item.isDeleted}
                    </if>
                </foreach>
            </trim>
            <trim prefix="modify_time = case id" suffix="end,">
                <foreach collection="recordList" item="item" index="index">
                    <if test="item.modifyTime != null">
                        WHEN #{item.id} THEN #{item.modifyTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="modifier = case id" suffix="end,">
                <foreach collection="recordList" item="item" index="index">
                    <if test="item.modifier != null">
                        WHEN #{item.id} THEN #{item.modifier}
                    </if>
                </foreach>
            </trim>
            <trim prefix="hospital_name = case id" suffix="end,">
                <foreach collection="recordList" item="item" index="index">
                    <if test="item.hospitalName != null">
                        WHEN #{item.id} THEN #{item.hospitalName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="hospital_alias = case id" suffix="end,">
                <foreach collection="recordList" item="item" index="index">
                    <if test="item.hospitalAlias != null">
                        WHEN #{item.id} THEN #{item.hospitalAlias}
                    </if>
                </foreach>
            </trim>
            <trim prefix="hospital_level = case id" suffix="end,">
                <foreach collection="recordList" item="item" index="index">
                    <if test="item.hospitalLevel != null">
                        WHEN #{item.id} THEN #{item.hospitalLevel}
                    </if>
                </foreach>
            </trim>
            <trim prefix="hospital_type = case id" suffix="end,">
                <foreach collection="recordList" item="item" index="index">
                    <if test="item.hospitalType != null">
                        WHEN #{item.id} THEN #{item.hospitalType}
                    </if>
                </foreach>
            </trim>
            <trim prefix="hospital_description = case id" suffix="end,">
                <foreach collection="recordList" item="item" index="index">
                    <if test="item.hospitalDescription != null">
                        WHEN #{item.id} THEN #{item.hospitalDescription}
                    </if>
                </foreach>
            </trim>
        </trim>
        WHERE id IN
        <foreach collection="recordList" item="item" index="index" open="(" close=")" separator=",">
            #{item.id}
        </foreach>
    </update>

    <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.yibao.dao.entity.param.HospitalConditionBuilder">
        SELECT
        <include refid="BaseColumn"/>
        FROM `yb_hospital`
        <include refid="QueryCondition"/>
    </select>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT
        <include refid="BaseColumn"/>
        FROM `yb_hospital`
        WHERE `id` = #{id}
    </select>
</mapper>