<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yibao.dao.mapper.base.HospitalDepartmentBaseMapper">

    <!--实体映射-->
    <resultMap id="BaseResultMap" type="com.yibao.dao.entity.HospitalDepartmentDO">
        <!--自增ID-->
        <result column="id" property="id"/>
        <!--是否删除（0:未删除 1:已删除）-->
        <result column="is_deleted" property="isDeleted"/>
        <!--记录创建时间-->
        <result column="create_time" property="createTime"/>
        <!--记录修改时间-->
        <result column="modify_time" property="modifyTime"/>
        <!--创建人,0表示无创建人值-->
        <result column="creator" property="creator"/>
        <!--修改人,如果为0则表示纪录未修改-->
        <result column="modifier" property="modifier"/>
        <!--医院ID-->
        <result column="hospital_id" property="hospitalId"/>
        <!--科室名称-->
        <result column="department_name" property="departmentName"/>
        <!--科室级别（1:普通科室 2:重点科室）-->
        <result column="department_level" property="departmentLevel"/>
    </resultMap>

    <!-- 通用查询结果列-->
    <sql id="BaseColumn">
        <trim suffixOverrides=",">
            `id`,
            `is_deleted`,
            `create_time`,
            `modify_time`,
            `creator`,
            `modifier`,
            `hospital_id`,
            `department_name`,
            `department_level`,
        </trim>
    </sql>

    <!-- 动态条件 -->
    <sql id="QueryCondition">
        <where>
            <if test="id != null">
                AND `id` = #{id}
            </if>
            <if test="idList != null">
                AND `id` IN
                <foreach collection="idList" close=")" open="(" separator="," item="item">
                    #{item}
                </foreach>
            </if>
            <if test="isDeleted != null">
                AND `is_deleted` = #{isDeleted}
            </if>
            <if test="createTime != null">
                AND `create_time` = #{createTime}
            </if>
            <if test="modifyTime != null">
                AND `modify_time` = #{modifyTime}
            </if>
            <if test="hospitalId != null">
                AND `hospital_id` = #{hospitalId}
            </if>
            <if test="hospitalIdList != null">
                AND `hospital_id` IN
                <foreach collection="hospitalIdList" close=")" open="(" separator="," item="item">
                    #{item}
                </foreach>
            </if>
            <if test="departmentName != null">
                AND `department_name` = #{departmentName}
            </if>
            <if test="departmentLevel != null">
                AND `department_level` = #{departmentLevel}
            </if>
            <if test="departmentLevelList != null">
                AND `department_level` IN
                <foreach collection="departmentLevelList" close=")" open="(" separator="," item="item">
                    #{item}
                </foreach>
            </if>
        </where>
    </sql>

    <insert id="insertSelective" parameterType="com.yibao.dao.entity.HospitalDepartmentDO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `yb_hospital_department`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                `id`,
            </if>
            <if test="isDeleted != null">
                `is_deleted`,
            </if>
            <if test="createTime != null">
                `create_time`,
            </if>
            <if test="modifyTime != null">
                `modify_time`,
            </if>
            <if test="creator != null">
                `creator`,
            </if>
            <if test="modifier != null">
                `modifier`,
            </if>
            <if test="hospitalId != null">
                `hospital_id`,
            </if>
            <if test="departmentName != null">
                `department_name`,
            </if>
            <if test="departmentLevel != null">
                `department_level`,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="isDeleted != null">
                #{isDeleted},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="modifyTime != null">
                #{modifyTime},
            </if>
            <if test="creator != null">
                #{creator},
            </if>
            <if test="modifier != null">
                #{modifier},
            </if>
            <if test="hospitalId != null">
                #{hospitalId},
            </if>
            <if test="departmentName != null">
                #{departmentName},
            </if>
            <if test="departmentLevel != null">
                #{departmentLevel},
            </if>
        </trim>
    </insert>

    <insert id="batchInsert" parameterType="com.yibao.dao.entity.HospitalDepartmentDO">
        INSERT INTO `yb_hospital_department`
        (<include refid="BaseColumn"/>)
        VALUES
        <foreach collection="recordList" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.id},
                #{item.isDeleted},
                #{item.createTime},
                #{item.modifyTime},
                #{item.creator},
                #{item.modifier},
                #{item.hospitalId},
                #{item.departmentName},
                #{item.departmentLevel},
            </trim>
        </foreach>
    </insert>

    <update id="updateById" parameterType="com.yibao.dao.entity.HospitalDepartmentDO">
        UPDATE `yb_hospital_department`
        <set>
            <if test="isDeleted != null">
                `is_deleted` = #{isDeleted},
            </if>
            <if test="createTime != null">
                `create_time` = #{createTime},
            </if>
            <if test="modifyTime != null">
                `modify_time` = #{modifyTime},
            </if>
            <if test="creator != null">
                `creator` = #{creator},
            </if>
            <if test="modifier != null">
                `modifier` = #{modifier},
            </if>
            <if test="hospitalId != null">
                `hospital_id` = #{hospitalId},
            </if>
            <if test="departmentName != null">
                `department_name` = #{departmentName},
            </if>
            <if test="departmentLevel != null">
                `department_level` = #{departmentLevel},
            </if>
        </set>
        WHERE `id` = #{id}
    </update>

    <update id="batchUpdateById" parameterType="com.yibao.dao.entity.HospitalDepartmentDO">
        UPDATE `yb_hospital_department`
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="is_deleted = case id" suffix="end,">
                <foreach collection="recordList" item="item" index="index">
                    <if test="item.isDeleted != null">
                        WHEN #{item.id} THEN #{item.isDeleted}
                    </if>
                </foreach>
            </trim>
            <trim prefix="modify_time = case id" suffix="end,">
                <foreach collection="recordList" item="item" index="index">
                    <if test="item.modifyTime != null">
                        WHEN #{item.id} THEN #{item.modifyTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="modifier = case id" suffix="end,">
                <foreach collection="recordList" item="item" index="index">
                    <if test="item.modifier != null">
                        WHEN #{item.id} THEN #{item.modifier}
                    </if>
                </foreach>
            </trim>
            <trim prefix="hospital_id = case id" suffix="end,">
                <foreach collection="recordList" item="item" index="index">
                    <if test="item.hospitalId != null">
                        WHEN #{item.id} THEN #{item.hospitalId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="department_name = case id" suffix="end,">
                <foreach collection="recordList" item="item" index="index">
                    <if test="item.departmentName != null">
                        WHEN #{item.id} THEN #{item.departmentName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="department_level = case id" suffix="end,">
                <foreach collection="recordList" item="item" index="index">
                    <if test="item.departmentLevel != null">
                        WHEN #{item.id} THEN #{item.departmentLevel}
                    </if>
                </foreach>
            </trim>
        </trim>
        WHERE id IN
        <foreach collection="recordList" item="item" index="index" open="(" close=")" separator=",">
            #{item.id}
        </foreach>
    </update>

    <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.yibao.dao.entity.param.HospitalDepartmentConditionBuilder">
        SELECT
        <include refid="BaseColumn"/>
        FROM `yb_hospital_department`
        <include refid="QueryCondition"/>
    </select>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT
        <include refid="BaseColumn"/>
        FROM `yb_hospital_department`
        WHERE `id` = #{id}
    </select>
</mapper>